<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://www.imocc.com" target="_blank" class="link">慕课网</a> |
            <a href="https://www.baidu.com" target="_blank" class="link">百度</a> |
            <a href="https://www.taobao.com" target="_blank" class="link">淘宝</a> |
            <a href="https://www.zhihu.com" target="_blank" class="link">知乎</a>
        </div>
        <p class="copyright">
            Copyright © 2020 happymmall All Right Reserved
        </p>
    </div>
</div>